// Font Style Manrope
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
//Color Variables
$VeryDarkGrayishBlue: hsl(217, 19%, 35%);
$DesaturatedDarBlue: hsl(214, 17%, 51%);
$GrayishBlue: hsl(212, 23%, 69%);
$LightGrayishBlue: hsl(210, 46%, 95%);
// Clearing Defaults
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Manrope',sans-serif;
}
// Utilities
// .open{
//     .grid-container__social{
//         display:flexbox;
//     }
//     .arrow{
//         display:block;
//     }
//     .grid-container__contact{
//         display:none;
//     }
// }
// .arrow{
//     width:0px;
//     height:0px;
//     position: absolute;
//     z-index: 2;
//     top:425px;
//     right:520px;
//     border-left:10px solid transparent;
//     border-right: 10px solid transparent;
//     border-top: 20px solid $VeryDarkGrayishBlue;
// }

// Body Defaults
body{
    padding: 20% 0%;
    background-color: $LightGrayishBlue;
}
#grid-container{
    display:grid;
    max-width:80%;
    width:80%;
    margin: 0 auto 0 auto;
    grid-template-columns: 1fr;
    grid-template-areas:
    "grid-container__pic"
    "grid-container__content"
    "grid-container__contact-social"
    ;
    border-radius: 5%;
    background-color:#fff;
    // Picture Container
    .grid-container__pic{
        grid-area: grid-container__pic;
        padding-bottom: 25px;
        img{
            max-width:100%;
            border-top-right-radius: 5%;
            border-top-left-radius: 5%;
        }
    }
    // Content Container
    .grid-container__content{
        grid-area:grid-container__content;
        max-width:80%;
        margin: 0 auto 0 auto;
        // Header Container
        .grid-container__heading{
            padding-bottom: 20px;
            font-size:21px;
            color:$VeryDarkGrayishBlue;
            h1{
                font-weight: 700;
            }
        }.grid-container__main-content{
            p{
                font-size:12;
                line-height:25px;
            }
            
        }
    }
    //  Contact Container
    .grid-container__contact{
        max-width: 100%;
        display: flex;
        img{
            max-width:20%;
            border-radius: 50%;
        }
        padding: 20px 0px;
        // Contact Detail Container
        .grid-container__contact-detail{
            display:flex;
            flex-direction:column;
            margin:auto 0 auto 0;
            padding: 0px 15px;
            h5{
                font-size:16px;
                padding-bottom: 5px;
            }
            p{
                font-size:13px;
                color:$DesaturatedDarBlue;
            }
        }
        // Share Button Container
        .grid-container__share-btn{
            background-color: $GrayishBlue;
            width:50px;
            height:50px;
            border-radius: 50%;
            display:flex;
            justify-content: center;
            align-items: center;
            margin:auto 0 auto 0;

            &.grid-container__share-btn:hover{
                cursor: pointer;
            }
            img{
               max-width: 100%;
            }
        }
    }
    // Social Container
    .grid-container__social{
        background-color:$VeryDarkGrayishBlue;
        grid-area:grid-container__contact-social;
        display:flex;
        align-items: center;
        padding:0% 10%;
        p{
            color: #fff;
        }

        a{
            padding:10px;
            display:block;
            text-decoration: none;
        }
        // Share Button Container
        .grid-container__share-btn{
            background-color: $GrayishBlue;
            width:25px;
            height:25px;
            border-radius: 50%;
            display:flex;
            justify-content: center;
            align-items: center;
            margin:auto 0 auto auto;

            &.grid-container__share-btn:hover{
                cursor: pointer;
            }
            img{
               max-width: 100%;
            }
        }
    }
    .close{
        display:none;
    }
    .open{
        display:flexbox;
        // Test Code
        //.grid-container__social{
        //    display:flexbox;
        //}
       // .arrow{
       //     display:block;
       // }
       // .grid-container__contact{
       //     display:none;
       // }l
    }
    // End Grid Container
}

// Media Query Desktop Max 1400px
@media screen and (min-width:400px) and (max-width: 1440px) {
    *{
        padding: 0px;
        margin:0px;
    }
    // Whole Container
    #grid-container{
        display:grid;
        max-width: 50.5%;
        height: 280px;
        //max-height:190px;
        margin: 0 auto 0 auto;
        grid-template-columns: 1.28fr 2fr;
        grid-template-areas:
        "grid-container__pic grid-container__content"
        "grid-container__pic grid-container__contact-social"
        ;
        border-radius: 3%;
        background-color:#fff;
        gap:10px;
       // margin-bottom:100%;
        // picture container
        .grid-container__pic{
            grid-area: grid-container__pic;

            img{
                height: 278px;
               max-width:100%;
                padding:0px;
                border-radius: 0px;
            }
        }
        // Content Container
        .grid-container__content{
            grid-area: grid-container__content;
            max-width: 85%;
            // Child Header
            .grid-container__heading{
                padding-top:32px;
                padding-bottom: 0px;
                font-size: 18px;
                color:$VeryDarkGrayishBlue;
            }
            // Child Main Content
            .grid-container__main-content{
                p{ font-size: 13px; padding-top:8px; line-height: 22.9px;}
            }
        }
        // Contact Container
        .grid-container__contact-social{
            grid-area:grid-container__contact-social;
            padding-top:15px;
        }
        .grid-container__contact{
            padding:0px;
            display:flex;
            .girl{
                max-width:10%
            }
            // Contact Detail Container
            .grid-container__contact-detail{
                display:flex;
                flex-direction: column;
                //margin: auto 0px auto 0px;
                //padding:0px 15px;
                // Child H5
                h5{ font-size:12px; padding-bottom:0px;}
                // Child P
                p{font-size:10px; color:$DesaturatedDarBlue; padding:0px;}
            }
            .grid-container__share-btn{
                width:25px;
                height:25px;
                display:flex;
                position: absolute;
                left:70%;
    
            }
        }
        // Social Container
        .grid-container__social{
            background-color:$VeryDarkGrayishBlue;
            grid-area:grid-container__contact-social;
            display:flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            top:365px;
            right:28%;
            width:200px;
            padding:10px;
            height:50px;
            border-radius: 10px 10px 10px 10px;
            z-index: 2;
            // Child P element
            p{color:#fff;padding-right: 15px;padding-left:15px;}
            // Child A element
            a{padding-right:0px; display:block; text-decoration:none;}
            // Share Button Container Child of Social
            .grid-container__share-btn{
                background-color: $GrayishBlue;
                width:25px;
                height:25px;
                border-radius: 50%;
                display:flex;
                justify-content: center;
                align-items:center;
                margin-left:30px;
                display:none;
                
            }
            
        }
        .close{
            display:none;
        }
        .open{
            display:flexbox;
        }
        .arrow{
            width:0px;
            height:0px;
            position: absolute;
            z-index: 0;
            top:410px;
            right:406px;
            border-left:10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 20px solid $VeryDarkGrayishBlue;
        }
        
    }
    // Test Code
    // .open{
    //     //display:flexbox;
    //     // Test Code
    //     .grid-container__social{
    //         display:flexbox;
    //     }
    //     .arrow{
    //         display:block;
    //     }
    //     .grid-container__contact{
    //         display:none;
    //     }
    // }
}

